@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* ct = custom  */
.ct-top-menu-item {
  @apply cursor-pointer py-3 lg:py-1 text-white lg:text-black hover:text-slate-500 relative after:absolute after:bottom-0 after:left-0 after:bg-light-coffee
                        after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.ct-top-menu-expanded {
  @apply absolute top-20 z-10 p-5 text-center bg-emerald-800 animate-slideDown w-[100vw]  left-[calc(-50vw+50%)];
}

.ct-subHeadLine {
  @apply flex justify-center items-center mb-24;
}

.ct-subHeadLine-line {
  @apply w-8 h-px bg-gray-400;
}

.ct-subHeadLine-label {
  @apply uppercase mx-4 tracking-widest text-sm;
}

#scroll-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  color: white;
}
